---
import type { CtaSection } from "~/layouts/sub.astro";

const section = Astro.props as CtaSection;
const { title, subtitle, button } = section;
---

<section class="section" style="text-align: center;" id={section.id}>
  <div class="container reveal">
    <span class="badge">{subtitle}</span>
    <h2 style="font-size: clamp(2rem, 4vw, 3rem); margin-bottom: 30px;">
      {title} hola
    </h2>
    <a href={button.href} class="btn btn-primary">
      {button.text}
    </a>
  </div>
</section>
